<div class="row">
  <h3>Késako</h3>
  <a href="http://www.nosfinanceslocales.fr">NosFinancesLocales.fr</a> a pour objectif de présenter une petite partie des données comptables des communes françaises : nous ne présentons en effet que 12 cartes sur plus de 60 variables disponibles. N'hésitez donc pas à récupérer l'ensemble des données ainsi que les descriptions des variables sur <a href="http://www.nosdonnees.fr/dataset/donnees-comptables-et-fiscales-des-collectivites-locales">NosDonnées.fr</a>.
</div>
<div class="row">
  <h3>Quelles données ?</h3>
  <ul>
    <li>Les données financières des communes&nbsp;: extraites du site <a href="http://www.collectivites-locales.gouv.fr/">des collectivités locales</a> et disponibles au format CSV sur le site <a href="http://www.nosdonnees.fr/dataset/donnees-comptables-et-fiscales-des-collectivites-locales">NosDonnées.fr</a> en Open Data <img src="/static/img/opendata.png" height="15"> !</li>
    <li>Les données géographiques des communes&nbsp;: <a href="http://professionnels.ign.fr/geofla">IGN GEOFLA</a> disponible au format SHP en OpenData sur <a href="http://www.data.gouv.fr/fr/dataset/geofla-communes">data.gouv.fr</a>.</li>
  </ul>
</div>
<div class="row">
  <h3>Quelle licence ?</h3>
  <p>Toutes les données de ce site sont sous <a href="http://wiki.data.gouv.fr/wiki/Licence_Ouverte_/_Open_Licence">Licence Ouverte (LO)</a>.</p>
  <div class="col-xs-6 col-md-2">
    <a href="http://wiki.data.gouv.fr/wiki/Licence_Ouverte_/_Open_Licence" class="thumbnail">
      <img ng-src="/static/img/Logo_Licence_Ouverte_noir_avec_texte.gif" alt="LO">
    </a>
  </div>
</div>
<div class="row">
  <h3>Comment ?</h3>
  <ul>
    <li>La cartographie avec <a href="http://mapnik.org/">mapnik</a> et <a href="https://www.mapbox.com/tilemill/docs/manual/carto/">CartoCSS</a>.</li>
    <li>Le site web dont le code est dispo sur <a href="https://github.com/regardscitoyens/nosfinanceslocales">github</a> avec coté serveur <a href="http://www.pylonsproject.org/">Pyramid</a></li> et coté client <a href="http://angularjs.org/">AngularJS</a>.</li>
    <li>Le crawler qui a permis de récolter toutes les données financières&nbsp;: code disponible sur <a href="https://github.com/fmassot/localgouv_scraper">github</a> également.</li>
  </ul>
</div>
<div class="row">
  <h3>Qui ?</h3>
  <div class="col-xs-6 col-md-2">
    <a href="http://www.regardscitoyens.org" class="thumbnail">
      <img ng-src="/static/img/logo_regardscitoyens.svg" alt="regardscitoyens" style="height: 160px; width: 100%; display: block;">
    </a>
  </div>
</div>
<div class="row">
  <h3>Vous avez des questions, vous voulez ajouter une nouvelle carte, corriger un bug etc.&nbsp;?</h3>
  <p>Contactez nous par <a href="mailto:contact@regardscitoyens.org?subject=nosfinanceslocales">e-mail</a> ou rejoignez-nous sur notre <a href="irc://irc.freenode.net#regardscitoyens">canal IRC</a> accessible par exemple via un <a href="https://kiwiirc.com/client/irc.freenode.net?chan=#regardscitoyens">client web</a>, nous serons ravis d'échanger avec vous :).</p>
  <p>Vous pouvez également signaler tout bug ou suggestion d'amélioration sur <a href="https://github.com/regardscitoyens/nosfinanceslocales">la page du projet github</a>.</p>
  <p><a href="http://www.regardscitoyens.org/mentions-legales/">Mentions légales</a></p>
</div>
