<div id="wrap">
  <div class="navbar navbar-default navbar-fixed-top mynav" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="brand" href="#"><img src="/static/img/logo-nosfinances_50.png" /></a>
      </div>
      <div class="navbar-header">
        <a ui-sref="maps" class="navbar-brand">NosFinancesLocales.fr</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li ui-sref-active="active"><a ui-sref="maps.about">À propos</a></li>
          <li>
          <a class="dropdown-toggle" href="#">Les cartes</a>
          <ul class="dropdown-menu">
            <li ng-repeat="timemap in timemaps" ui-sref-active="active">
              <a ui-sref="maps.detail({var_name:timemap.var_name})">{{timemap.maps[0].description}}</a>
            </li>
          </ul>
          </li>
        </ul>
      </div>
      <div class="nav regardscitoyens">
        <a href="http://www.regardscitoyens.org"><span class="RC">R</span>egards<span class="RC">C</span><span style="color: #C1272D;">i</span>toyens.org</a>
      </div>
    </div>
  </div>
  <div ui-view class="container">
  </div>
  </br>
</div>
<div id="footer"></div>
