<div class="row">
  <h3>
    {{mapData.description}}
  </h3>
  <div class="col-md-8">
    <div class="row">
      <h4>Année : <span class="label label-danger">{{year}}</span></h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
    <div class="row">
      <input type="range" ng-model="year" value="2000" min="2000" max="2012" step="0.1" style="width:95%">
      <div leaflet-map style="width:95%;height:650px" timemap="timemap" year="year" on-click="onClick" on-mouse-over="onMouseOver" on-mouse-out="onMouseOut" options="mapOptions" variables="{year: year, opacity: opacity}"></div>
    </div>
    <div class="row">
      <div class='legend'>
        <div class='legend-scale'>
          <ul class='legend-labels'>
            <li ng-repeat="color in mapData.scale_colors">
            <span style='background:{{color}};'></span>
            {{mapData.scale_range[$index]|number:2}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="input-group">
        <span class="input-group-addon">
          <i ng-show="!loadingLocations" class="glyphicon glyphicon-search"></i>
          <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        </span>
        <input type="text" ng-model="city" placeholder="Rechercher une commune..." typeahead="city as city.name for city in getCities($viewValue) | filter:$viewValue" typeahead-loading="loadingLocations" typeahead-min-length="2" class="form-control" typeahead-on-select="centerMapAndLoadStatCity(city)">
      </div>
    </div>
    </br>
    <div class="row">
      <h4><span class="label label-default"><span class="glyphicon glyphicon-eye-open"></span> Info commune survolée</span></h4>
      <ul class="list-group">
        <li class="list-group-item">Commune: <b>{{mouseOverdata.name}} ({{mouseOverdata.code_insee}})</b></li>
        <li class="list-group-item">Année: <b>{{year}}</b></li>
        <li class="list-group-item">{{mapData.description}}: <b>{{mouseOverdata[timemap.var_name]|number:2}}</b></li>
      </ul>
    </div>
    <div class="row">
      <h4><span class="label label-default"><span class="glyphicon glyphicon-stats"></span> Statistiques</span> </h4>
      <a class="btn btn-primary btn-xs" style="background-color:{{lineData.color}};margin-right:3px;margin-bottom:2px;border-color:{{lineData.color}}" ng-click="removeLine(lineData.id)" ng-repeat="lineData in linesData"><b>{{lineData.name}}</b></a>
      <div line-chart data="linesData" name="test"></div>
    </div>
    <div class="row">
      <h4><span class="label label-default">Opacité</span></h4>
      <input type="range" ng-model="opacity" value="0.8" min="0" max="1" step="0.1" style="width:100%">
    </div>
  </div>
</div>
