<div class="row">
  <h3>
    {{mapData.description}}
  </h3>
  <div ng-include="descriptionTemplateUrl"></div>
  <div class="col-md-7">
    <h4>Année&nbsp;: <span class="label label-danger">{{year|roundToInt}}</span></h4>
  </div>
</div>
<div class="row">
  <div class="col-md-7">
      <input type="range" ng-model="year" value="{{years[years.length-1]}}" min="{{years[0]}}" max="2012" step="0.1" style="width:100%">
      <div class="row">
        <div xaxis values="years"></div>
      </div>
    <div class="row">
      <div class="col-md-12">
        <div leaflet-map style="height:650px" timemap="timemap" cities="cities" year="year" on-click="onClick" on-mouse-over="onMouseOver" on-mouse-out="onMouseOut" options="mapOptions" variables="{year: year, opacity: opacity}"></div>
        <div class='legend'>
          <div class='legend-scale'>
            <ul class='legend-labels'>
              <li style="width:{{100/mapData.scale_colors.length}}%;" ng-repeat="color in mapData.scale_colors">
              <span style='width:100%;background:{{color}};opacity:{{opacity}}'></span>
              {{mapData.scale_range[$index]|number:2}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="input-group">
        <span class="input-group-addon">
          <i ng-show="!loadingLocations" class="glyphicon glyphicon-search"></i>
          <i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>
        </span>
        <input type="text" ng-model="city" placeholder="Rechercher une commune..." typeahead="city as city.name + ' (' + city.code_department + ')'  for city in getCities($viewValue) | filter:$viewValue" typeahead-loading="loadingLocations" typeahead-min-length="2" class="form-control" typeahead-on-select="centerMapAndLoadStatCity(city)">
      </div>
    </div>
    </br>
    <div class="row">
      <h4><span class="label label-default"><span class="glyphicon glyphicon-eye-open"></span> Info commune survolée</span></h4>
      <ul class="list-group">
        <li class="list-group-item">Commune&nbsp;: <b>{{mouseOverdata.name}} ({{mouseOverdata.code_insee|limitTo:2}})</b></li>
        <li class="list-group-item">Année&nbsp;: <b>{{year|roundToInt}}</b></li>
        <li class="list-group-item">{{mapData.description}}&nbsp;: <b>{{mouseOverdata[timemap.var_name]|number:2}}</b></li>
      </ul>
    </div>
    <div class="row">
      <h4><span class="label label-default"><span class="glyphicon glyphicon-stats"></span> Statistiques</span> </h4>
      <div ng-include="statsTemplateUrl"></div>
      <a class="btn btn-primary btn-xs" style="background-color:{{linesData[0].color}};margin-right:3px;margin-bottom:2px;border-color:{{linesData[0].color}}" ng-click="removeLine(linesData[0].id)" popover="Moyenne sur toutes les communes de France. À prendre avec précaution car les communes sont très hétérogènes (responsabilité, population, tourisme, etc.)." popover-title="Indicateur France&nbsp;:"><b>{{linesData[0].name}}</b></a>
      <a class="btn btn-primary btn-xs" style="background-color:{{lineData.color}};margin-right:3px;margin-bottom:2px;border-color:{{lineData.color}}" ng-click="removeLine(lineData.id)" ng-repeat="lineData in linesData.slice(1)"><b>{{lineData.name}}</b></a>
      <div line-chart data="linesData" name="test"></div>
      <div class="col-md-12"><small><b>NB&nbsp;: Les variables exprimées en euros sont en euros courants.</b></small></div>
    </div>
    <div class="row">
      <h4><span class="label label-default">Opacité</span></h4>
      <input type="range" ng-model="opacity" value="0.8" min="0" max="1" step="0.1" style="width:100%">
    </div>
  </div>
</div>
