<div class="row">
  <h3>Késako</h3>
  Ce site a pour objectif de présenter une petite partie des données financières des communes françaises et d'inviter d'autres citoyens à les réutiliser.
</div>
<div class="row">
  <h3>Quelles données ?</h3>
  <ul>
    <li>Données financières des communes : extraites du site <a href="http://www.collectivites-locales.gouv.fr/">des collectivités locales</a> et disponible en format csv sur le site <a href="http://www.nosdonnees.fr/dataset/donnees-comptables-et-fiscales-des-collectivites-locales">NosDonnées.fr</a> en Open Data <img src="/app/static/opendata.png" height="15"> !</li>
    <li>Données géographiques des communes : <a href="http://professionnels.ign.fr/geofla">IGN GEOFLA</a></li>
  </ul>
</div>
<div class="row">
  <h3> Quelle licence ? </h3>
  <div class="col-xs-6 col-md-2">
    <a href="http://wiki.data.gouv.fr/wiki/Licence_Ouverte_/_Open_Licence" class="thumbnail">
      <img ng-src="/static/Logo_Licence_Ouverte_noir_avec_texte.gif" alt="LO">
    </a>
  </div>
</div>
<div class="row">
  <h3>Comment ?</h3>
  <ul>
    <li>Cartographie : <a href="http://mapnik.org/">mapnik</a> et <a href="https://www.mapbox.com/tilemill/docs/manual/carto/">CartoCSS</a></li>
    <li>Serveur : <a href="http://www.pylonsproject.org/">Pyramid</a> and <a href="http://nginx.org/">nginx</a></li>
    <li>Client : <a href="http://angularjs.org/">AngularJS</a></li>
    <li>Crawler des données financières : <a href="https://github.com/fmassot/localgouv_scraper">scraper implémenté avec scrapy</a></li>
    <li><a href="https://github.com/regardscitoyens/nosfinanceslocales">Le code</a> tout simplement !</li>
  </ul>
</div>
<div class="row">
  <h3> Qui ?</h3>
  <div class="col-xs-6 col-md-2">
    <a href="http://www.regardscitoyens.org" class="thumbnail">
      <img ng-src="/static/logo_regardscitoyens.svg" alt="regardscitoyens" style="height: 160px; width: 100%; display: block;">
    </a>
  </div>
</div>

