<div class="row">
  <h3>Késako</h3>
  Ce site a pour objectif de présenter une petite partie des données financières des communes françaises et d'inviter d'autres citoyens à les réutiliser.
</div>
<div class="row">
  <h3>Quelles données ?</h3>
  <ul>
    <li>Données financières des communes : <a href="http://www.collectivites-locales.gouv.fr/">Bercy</a> et téléchargeables <a href="http://www.nosdonnees.fr">ici</a></li>
    <li>Données géographiques des communes : <a href="http://professionnels.ign.fr/geofla">IGN GEOFLA</a></li>
  </ul>
</div>
<div class="row">
  <h3> Quelle licence ? </h3>
  ?
</div>
<div class="row">
  <h3>Comment ?</h3>
  <ul>
    <li>Cartographie : <a href="http://mapnik.org/">mapnik</a> et <a href="https://www.mapbox.com/tilemill/docs/manual/carto/">CartoCSS</a></li>
    <li>Serveur : <a href="http://www.pylonsproject.org/">Pyramid</a> and <a href="http://nginx.org/">nginx</a></li>
    <li>Client : <a href="http://angularjs.org/">AngularJS</a></li>
    <li>Crawler des données financières : <a href="https://github.com/fmassot/localgouv_scraper">Scraper avec scrapy</a></li>
  </ul>
</div>
<div class="row">
  <h3> Qui ?</h3>
  <ul>
    <li><a href="http://www.regardscitoyens.org">Regards Citoyens<a></li>
  </ul>
</div>
