<div class="alert alert-danger">
  <p>
  <span class="glyphicon glyphicon-warning-sign"></span> <b ng-click="isCollapsed = !isCollapsed">Transfert de fiscalité en 2011</b>
  </p>
  <p ng-show="isCollapsed">
    Un nombre important de communes ont entre autre récupéré en 2011 la part de la taxe d'habitation perçue auparavant par les départements, ce qui expliquent en grande partie la hausse observée cette année. Pour plus de précisons, consultez la <a href="http://www.collectivites-locales.gouv.fr/files/files/faq_2011.pdf">FAQ</a> du site des collectivités locales</i>.
  </p>
</div>
