<div class="row">
  <div class="col-md-7 bg-info">
    <h4>Un peu d'explications :</h4>
    <p>
    Cette carte présente le <b>taux de la taxe foncière sur les propriétés bâties</b> établie chaque année dans chaque commune.
    </p>
    <p>
    Malheureusement ce pourcentage ne vous dira nullement ce que paye réellement un propriétaire. En effet, pour obtenir la facture, il faut appliquer ce taux à la <b>valeur locative cadastrale</b> de la propriété diminuée de 50% (cf. le site <a href="http://vosdroits.service-public.fr/particuliers/F53.xhtml">Service-Public.fr</a>).
    </p>
    <p>
    Peut-on donc connaître cette valeur&nbsp;? A priori non&nbsp;! En effet, seule la <a href="">DGFIP</a> en dispose et se refuse à la libérer. Pourquoi cette opacité&nbsp;? Tout simplement parce que cette valeur locative n'a plus été mise à jour qu'à la marge depuis 1970 et que par conséquent, elle est totalement inadaptée dans beaucoup d'endroits de France. Si vous avez des amis qui habitent dans le quartier du Marais à Paris, quartier insalubre en 1970, essayez donc avec eux de faire le calcul&nbsp;!
    </p>
  </div>
</div>
