<div class="row">
  <div class="col-md-7 bg-info">
    <h4> Un peu d'explication</h4>
    <p>
    Cette carte présente le <b>taux de la taxe foncière sur les propriétés baties </b>établie chaque année dans chaque commune de France.
    </p>
    <p>
    Malheureusement ce pourcentage ne vous dira rien sur ce que paye réellement un propriétaire. En effet, pour obtenir la facture d'un propriétaire, il faut appliquer ce taux à la <b>valeur locative cadastral</b> de la propriété diminuée de 50% (Cf. le site du <a href="http://vosdroits.service-public.fr/particuliers/F53.xhtml">Service public</a>).
    </p>
    <p>
    Mais connaissez-vous cette valeur ? A priori non et nous non plus! En effet, cette information n'est disponible nulle part sauf dans les bureaux de la DGFiP. Pourquoi cette opacité ? Tout simplement parce que cette valeur locative n'a été mise à jour qu'à la marge depuis 1970 et que par conséquent, elle est totalement inadaptée dans beaucoup d'endroits de France. Si vous avez des amis qui habitent dans le quartier du marais à Paris, quartier insalubre en 1970, demandez leur combien ils payent.
    </p>
  </div>
</div>
